
/*Estilos generales*/
section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
h1{
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    color: #548235;
    text-align: center;
    margin-bottom: 20px
}
h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color:#70AD47;
    text-align: center;
    margin-bottom: 20px
}
h3{
    font-size: 1.3rem;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #808080;
    text-align: center;
    margin-bottom: 20px
}
p{
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

/*Barra de Navegacion*/
.navbar{
    padding: 2rem;
    background-color: #D9D9D9;
    height: 100px;
}
.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}


/* Perfil y Objetivos */
.Perfil-Objetivos{
    background-color: #f5f6f7;
    min-height: 500px;
}

.Foto-de-perfil{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 20px
}

/* Formacion Académica */

.Formacion-academica{
    padding-top: 0px;
}

/* Cursos y Capacitaciones */

.Cursos{
    background-color: #8A8682;
    text-align: center;
}
.Titulo-cursos{
    color:#BAD9A7;
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
}
.Titulo-carrusel{
    font-size: 1.5rem;
    color:#f5f6f7;
    font-style: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carousel-inner{
    height: 400px;
}

.Cursos ul{
    list-style-type: none;
    color:#f5f6f7;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2rem;
}

.Cursos li{
    margin-bottom: 20px
}
.Aclaracion{
    font-size: 0.8rem;
}

/* Habilidades, conocimientos e intereses*/

.card{
    position: relative;
}
.card h1{
    color: #808080;
    font-size: 1.2rem;
    padding-top: 10px;
}
.card td{
    padding-right: 20px;
}
.card-img-top {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease;
}
.card-body{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.2s ease;
    transform: translate(-50%,-50%);
    text-align: center;
}
.card-text{
    margin: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 0.7rem;
}
.card:hover .card-body {
    opacity: 1;
}
.card:hover .card-img-top{
    opacity: 0.2;
}

/* Footer */

.Contacto{
    background-color: #D9D9D9;
}

.Iconos-contacto {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
.Iconos-contacto a{
    color:#70AD47;
    padding: 30px;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.Iconos-contacto a:hover .Iconos-contacto a{
    opacity: 0.2;
}

/*Adaptable Responsivo*/

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .card-text{
        font-size: 1rem;
    }
}
@media screen and (min-width: 1250px){
    .card-text{
        font-size: 1rem;
    }
}